 /* Medium Devices, Desktops */
    body {color:#696768;}
    @media only screen and (min-width : 992px) {
      .image {margin-top: -100px;
            margin-bottom: -100px;
           display: inline-block;
            max-width: 100%;
            height: auto;
            padding: 4px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
         -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        border-radius: 6px;}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
           .image{ margin-top: -100px;
            margin-bottom: -100px;
             display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          border-radius: 6px;
          }
    }
    .mission  {font-size: 13px};
}